<p-growl [(value)]="msgs"></p-growl>
<div class="container makePaymentContainer">
    <div class="row">
        <div class="col-md-12">
            <form #myForm="ngForm" (ngSubmit)="MakePayment(myForm)" role="form">
                <div class="form-group">
                    <label for="AccountName" class="control-label">Account Name</label>

                    <input type="text" id="AccountName" class="form-control" name="accountName" [(ngModel)]="payment.AccountName"
                           required #accountName="ngModel">
                    <div class="invalid-feedback" *ngIf="accountName.errors && (accountName.touched || !accountName.pristine || accountName.dirty)">
                        Please input number only
                    </div>
                </div>

                <div class="form-group">
                    <label for="AccountNumber" class="control-label">Account Number</label>

                    <input type="text" id="accountNumber" class="form-control" pattern="[0-9]+" name="accountNum" [(ngModel)]="payment.AccountNum" required #accountNum="ngModel">
                    <div class="invalid-feedback" *ngIf="accountNum.errors && (accountNum.touched || !accountNum.pristine || accountNum.dirty)">
                        Please input number only
                    </div>

                </div>

                <div class="form-group">
                    <label for="BSB" class="control-label">BSB</label>
                    <input type="text" id="BSB" class="form-control" pattern="[0-9]+" [(ngModel)]="payment.BSB" name="bsb" required #bsb="ngModel">
                    <div class="invalid-feedback" *ngIf="bsb.errors && (bsb.touched || !bsb.pristine || bsb.dirty)">
                        Please input number only
                    </div>
                </div>

                <div class="form-group">
                    <label for="Amount" class="control-label">Amount</label>
                    <input type="number" id="Amount" class="form-control" min="0.01" pattern="^\d*\.?\d+$" step="0.01" [(ngModel)]="payment.Amount" name="amount" required #amount="ngModel">
                    <div class="invalid-feedback" *ngIf="amount.errors && (amount.touched || !amount.pristine || amount.dirty)">
                        Please input amount (amount must bigger than zero)
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputPassword" class="control-label">Bank Name</label>
                    <input type="text" id="BankName" class="form-control" [(ngModel)]="payment.BankName" name="bankName">
                </div>

                <button type="submit" class="btn btn-primary" [disabled]="!myForm.form.valid">Submit</button>
            </form>
        </div>
    </div>
</div>



